<div class="hello-page">
  <div class="row title">
    <h3 class="green">Welcome</h3>
  </div>
  <div fxFlex class="row">
    <p class="main-text green">Homi aims to bring living conditions into the light,
      making your flatting experience benefit someone else once recorded.
      If you wouldn't mind doing our quick survey about your current flat,
      we would very much appreciate it.</p>
  </div>
  <div class="row">
    <button class="lets-begin-button" mat-raised-button color="primary" isRoundButton="true" [routerLink]="['/1']">LETS BEGIN</button>
  </div>
  <div class="row">
    <p class="disclaimer green">
      Please note that by participating in this survey, giving us permission to use the information anonymously.
    </p>
  </div>
</div>
