@import '~@angular/material/theming';

@include mat-core();

$homi-green: (
  50: #edf8f0,
  100: #d3eeda,
  200: #b6e2c2,
  300: #98d6a9,
  400: #82ce96,
  500: #6cc584,
  600: #64bf7c,
  700: #59b871,
  800: #4fb067,
  900: #3da354,
  A100: #f4fff6,
  A200: #c1ffce,
  A400: #8effa6,
  A700: #74ff92,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$homi-theme-primary: mat-palette($homi-green);

$homi-theme-accent: mat-palette($mat-light-green, A400, A200, A600);

$homi-theme-warn: mat-palette($mat-red);

$homi-theme: mat-light-theme($homi-theme-primary, $homi-theme-accent, $homi-theme-warn);

@include angular-material-theme($homi-theme);
